<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateTask</title>
</head>
<body>
    <div class="row h-100 justify-content-center align-items-center">
    {% include 'messages.html' %}
        <form method="post" action="/create" class="form-container">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label class="label-control">Task Name:</label></td>
                    <td><textarea class="form-control"  rows="2" name="tname"></textarea></td>
                </tr>
                <tr>
                    <td><label class="label-control">Task Description:</label></td>
                    <td><textarea class="form-control"  rows="3" name="tdesc"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-warning btn-lg" value="Create" name="create">Create</button></td>
                    <td><button type="submit" class="btn btn-warning btn-lg" value="Create" name="back">Back</button></td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>
