.float-container {
    border: 3px solid #fff;
    padding: 200px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.form-control{
   opacity: 0.6;

}

.label-control{
    font-family:verdana;

    font-size:1vw
}


input[type=text]{
  color: black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email]{
  color: black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password]{
  color: black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#text1, #text2
{
    display:block;
    color: red;
    font-weight: 500i;
    font-style: italic;
    padding: 5px;
}

.parent
{
    height: 200px;
    width: 200px;
    position: relative;
}

.child
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}