<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Welcome to To Do App!!</h1>

<button type="submit" class="btn btn-warning btn-lg" value="Create" name="SignUp"><a href="/signup">SignUp</a></button>
<button type="submit" class="btn btn-warning btn-lg" value="Create" name="SignIn"><a href="/signin">SignIn</a></button>
<button type="submit" class="btn btn-warning btn-lg" value="Create" name="SignOut"><a href="/signout">SignOut</a></button>

</body>
</html>