<!DOCTYPE html>
{% load static %}
{% include 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeleteTask</title>
</head>
<body>
<div class="row h-100 justify-content-center align-items-center">
{% include 'messages.html' %}
    <form method="post" action="/delete" class="form-container">
        {% csrf_token %}
        <table>
            <tr>
                <td><label class="label-control">Task Id:</label></td>
                <td><textarea class="form-control"  rows="1" name="taskid"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-warning btn-lg" value="Delete by id" name="delete">Delete</button></td>
                <td><button type="submit" class="btn btn-warning btn-lg" value="Delete All" name="deleteall">Delete All</button></td>
                <td><button type="submit" class="btn btn-warning btn-lg" value="Delete" name="back">Back</button></td>
            </tr>
        </table>
    </form>
</body>
</html>