<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateTask</title>
</head>
<body>
<table>
     <tr>
        <td>Task Id:</td>
        <td><textarea class="form-control"  rows="1"></textarea></td>
    </tr>
    <tr>
        <td>Task Name:</td>
        <td><textarea class="form-control"  rows="2"></textarea></td>
    </tr>
    <tr>
        <td>Task Description:</td>
        <td><textarea class="form-control"  rows="3"></textarea></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit" class="btn btn-primary" value="Update">Update</button></td>
    </tr>
</table>

</body>
</html>